html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin:0 ;
}
html {
  height: 100%;
}
body {
  background-color: #070d10;
}

#root {
  padding-top:  10rem;
  width: 100%;
  background-image: url(logo.svg), -webkit-linear-gradient(top left, #070d10 0%, #070d10 100%);
  min-height: 100%;
  background-position: center 40px, center center;
  background-repeat:no-repeat;
  background-size: 300px, 100% 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}